<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head') %> 
</head>
<body>
  <header>
    <%- include('./partials/header')  %> 
  </header>
  <h3>Edit data</h3>
  
  <form action="/todo/saveEdit" method="POST">
    <input type="text" name="id" value=<%= editItem.id %> readonly >
    <input type="text" name="list" value=<%= editItem.list %>  >
    <input type="date" name="dueDate" value= <%= editItem.dueDate %>  >
    <input type="checkbox" name="status" id="status" value="true" <%= editItem.status? 'checked':'' %>  >
    <label for="status">Status</label>
    <button>Save</button>
  </form>
</body>
</html>