<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head') %> 
</head>
<body>
  <header>
    <%- include('./partials/header')  %> 
  </header>
  <h3>All Jobs: <%= all %> </h3>
  <h4>Done: <%= done %> </h4>
  <h4>UnDone: <%= undone %> </h4>

</body>
</html>